.product{
    display: flex;
    margin-bottom: 5px;
    margin-right: 10px;
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
    font-size: 20px;

}
.product-name{
    color: cornflowerblue;
    font-weight: 400;
}
.product-details{
    margin-left: 10px;
}